<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="bancoguiFrame">
		<title>Banco CrisNaMa</title>
		<icon stock_id="wxART_DELETE" />
		<size>910,570</size>
		<maxsize>-1,-1</maxsize>
		<parent_arg>0</parent_arg>
		<style>wxCAPTION|wxSYSTEM_MENU|wxCLOSE_BOX|wxFRAME_TOOL_WINDOW|wxMAXIMIZE_BOX|wxMINIMIZE_BOX|wxRAISED_BORDER</style>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PRINCIPAL" variable="Principal" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer2" member="no">
						<object class="sizeritem">
							<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
								<label>Clientes</label>
								<object class="sizeritem">
									<object class="wxListCtrl" name="ID_LISTACLIENTES" variable="ListaClientes" member="yes">
										<help>Lista de clientes</help>
										<style>wxLC_REPORT|wxLC_SORT_ASCENDING</style>
										<handler function="OnListCtrl1BeginDrag1" entry="EVT_LIST_BEGIN_DRAG" />
										<handler function="OnListaClientesItemSelect" entry="EVT_LIST_ITEM_SELECTED" />
										<handler function="OnListaClientesInsertItem" entry="EVT_LIST_INSERT_ITEM" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer3" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
										<label>Herramientas</label>
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BTNCREARCLIENTE" variable="btnCrearCliente" member="yes">
												<label>Crear Cliente</label>
												<focused>1</focused>
												<font>
													<size>10</size>
													<style>normal</style>
													<weight>bold</weight>
													<underlined>0</underlined>
													<family>swiss</family>
												</font>
												<tooltip>Abre el dialogo de crear cliente</tooltip>
												<handler function="OnbtnCrearClienteClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BTNEDITARCLIENTE" variable="BtnEditarCliente" member="yes">
												<label>Editar Cliente</label>
												<enabled>0</enabled>
												<font>
													<size>10</size>
													<style>normal</style>
													<weight>bold</weight>
													<underlined>0</underlined>
													<family>swiss</family>
												</font>
												<handler function="OnBtnEditarClienteClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BTNELIMINARCLIENTE" variable="BtnEliminarCliente" member="yes">
												<label>Eliminar Cliente</label>
												<enabled>0</enabled>
												<font>
													<size>10</size>
													<style>normal</style>
													<weight>bold</weight>
													<underlined>0</underlined>
													<family>swiss</family>
												</font>
												<handler function="OnBtnEliminarClienteClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>1</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticBoxSizer" variable="StaticBoxSizer3" member="no">
										<label>Estado Bancario del Cliente</label>
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxListCtrl" name="ID_LISTACUENTAS" variable="ListaCuentas" member="yes">
												<help>Lista de cuentas de cliente</help>
												<minsize>-1,-1</minsize>
												<maxsize>-1,-1</maxsize>
												<style>wxLC_REPORT</style>
												<handler function="OnListaCuentasDeleteAllItems" entry="EVT_LIST_DELETE_ALL_ITEMS" />
												<handler function="OnListaCuentasItemSelect" entry="EVT_LIST_ITEM_SELECTED" />
												<handler function="OnListaCuentasInsertItem" entry="EVT_LIST_INSERT_ITEM" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer4" member="no">
												<object class="sizeritem">
													<object class="wxStaticBoxSizer" variable="StaticBoxSizer4" member="no">
														<label>Cartera</label>
														<orient>wxVERTICAL</orient>
														<object class="sizeritem">
															<object class="wxButton" name="ID_BUTTON1" variable="ButtonNuevaCuenta" member="yes">
																<label>Nueva&#x0A;Cuenta</label>
																<enabled>0</enabled>
																<handler function="OnButtonNuevaCuentaClick" entry="EVT_BUTTON" />
															</object>
															<flag>wxALL|wxEXPAND</flag>
															<border>5</border>
															<option>1</option>
														</object>
														<object class="sizeritem">
															<object class="wxButton" name="ID_BUTTON2" variable="ButtonCerrarCuenta" member="yes">
																<label>Cerrar&#x0A;Cuenta</label>
																<enabled>0</enabled>
																<handler function="OnButtonCerrarCuentaClick" entry="EVT_BUTTON" />
															</object>
															<flag>wxALL|wxEXPAND</flag>
															<border>5</border>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticBoxSizer" variable="StaticBoxSizer5" member="no">
														<label>Caja</label>
														<orient>wxVERTICAL</orient>
														<object class="sizeritem">
															<object class="wxBoxSizer" variable="BoxSizer5" member="no">
																<orient>wxVERTICAL</orient>
																<object class="sizeritem">
																	<object class="wxTextCtrl" name="ID_TEXTCTRLCANTDINERO" variable="TextCtrlCantidadDinero" member="yes">
																		<validator>ValidadorDeDinero</validator>
																		<enabled>0</enabled>
																		<font>
																			<size>22</size>
																			<weight>normal</weight>
																			<sysfont>wxSYS_OEM_FIXED_FONT</sysfont>
																		</font>
																		<style>wxTE_CENTRE</style>
																	</object>
																	<flag>wxALL|wxSHAPED</flag>
																	<border>1</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxBoxSizer" variable="BoxSizer6" member="no">
																		<object class="sizeritem">
																			<object class="wxButton" name="ID_BUTTONDEPOSITARDINERO" variable="ButtonDepositarenCuenta" member="yes">
																				<label>Depositar</label>
																				<enabled>0</enabled>
																				<font>
																					<size>12</size>
																				</font>
																				<handler function="OnButtonDepositarenCuentaClick" entry="EVT_BUTTON" />
																			</object>
																			<flag>wxALL|wxEXPAND</flag>
																			<border>5</border>
																			<option>1</option>
																		</object>
																		<object class="sizeritem">
																			<object class="wxButton" name="ID_BUTTONEXTRAERDINERO" variable="ButtonExtraerdeCuenta" member="yes">
																				<label>Extraer</label>
																				<enabled>0</enabled>
																				<font>
																					<size>12</size>
																				</font>
																				<handler function="OnButtonExtraerdeCuentaClick" entry="EVT_BUTTON" />
																			</object>
																			<flag>wxALL|wxEXPAND</flag>
																			<border>5</border>
																			<option>1</option>
																		</object>
																	</object>
																	<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<option>1</option>
																</object>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>1</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer7" member="no">
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXTTIME" variable="StaticTextTime" member="yes">
												<label></label>
												<font>
													<size>20</size>
													<sysfont>wxSYS_OEM_FIXED_FONT</sysfont>
												</font>
												<style>wxALIGN_CENTRE</style>
											</object>
											<flag>wxALL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxFIXED_MINSIZE</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;Archivo</label>
				<object class="wxMenuItem" name="idGuardarEstado" variable="MenuItem3" member="yes">
					<label>Guardar estado</label>
					<accel>Alt-F3</accel>
					<help>Guarda el estado actual del banco en los archivos de testo</help>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Cerrar</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="yes">
				<label>Cli&amp;entes</label>
				<object class="wxMenuItem" name="id_menuCrearCliente" variable="MenuCrearCliente" member="yes">
					<label>&amp;Crear cliente</label>
				</object>
				<object class="wxMenuItem" name="id_menueditarCliente" variable="MenuItem4" member="yes">
					<label>E&amp;ditar cliente</label>
					<enabled>0</enabled>
				</object>
				<object class="wxMenuItem" name="id_menueliminarCliente" variable="MenuItem5" member="yes">
					<label>&amp;Eliminar cliente</label>
					<enabled>0</enabled>
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>A&amp;yuda</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>Acerca de Banco</label>
					<accel>F1</accel>
					<help>Mostrar informacion acerca de esta aplicación</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxMessageDialog" name="ID_MESSAGEDIALOG1" variable="MessageDialogEliminarCliente" member="yes">
			<caption>Atención</caption>
			<message>¿Esta seguro que desea eliminar este cliente?</message>
			<style>wxYES_NO|wxNO_DEFAULT|wxICON_QUESTION|wxSTAY_ON_TOP</style>
		</object>
		<object class="wxMessageDialog" name="ID_MESSAGEDIALOG2" variable="MessageDialogEliminarCuenta" member="yes">
			<caption>Atención</caption>
			<message>¿Está seguro de cerrar esta cuenta?</message>
			<style>wxYES_NO|wxNO_DEFAULT|wxICON_QUESTION</style>
		</object>
		<object class="wxMessageDialog" name="ID_MESSAGEDIALOGGUARDAR" variable="MessageDialogGuardar" member="yes">
			<caption>Guardar</caption>
			<message>Estado del banco guardado</message>
			<style>wxOK|wxICON_EXCLAMATION|wxSTAY_ON_TOP</style>
		</object>
		<object class="wxTimer" name="ID_TIMERHORA" variable="TimerHora" member="yes">
			<interval>1000</interval>
			<handler function="OnTimer1Trigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
